<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{fragments/layout}">
				
<th:block layout:fragment="content">

  <!-- 그룹정보 -->
  <div class="container p-2"
    style="width: 100%; color: #000000; font-weight: bold; font-size: 20px; margin-left: 1em;">
    GROUP NAME
  </div>
  <!-- 그룹정보 -->
  <!-- 목표 -->
  <div class="container-fluid mb-3">
	<table class="table">
		<caption>Group Success</caption>
		<tbody>
			<tr>
				<td scope="row" style="padding-right: 2em;">목표명 </td>
				<td scope="row" style="text-align: center; background-color: #f8b739;">날짜</td>
				<td scope="row" style="text-align: center;">날짜</td>
				<td scope="row" style="text-align: center; ">날짜</td>
				<!-- 고민사항:성공여부에 따라 자동으로 배경색이 변할 수 있나... 아니면 다른 식으로 표기를 해야하나... -->
			</tr>
		</tbody>
	</table>
  </div>
  <!-- 목표 -->
   <!-- 글쓰기폼 -->
    <div class="container-fluid">
      <form th:action="@{/diary/isert}" method="post">
        <div class="d-flex bd-highlight mb-4">
          <div class="flex-grow-1 bd-highlight" style="margin-right: 0.6em;">
            <input class="form-control form-control-lg" type="text" placeholder="제목을 입력하세요" aria-label="default input example">
          </div>
          <select class="form-select p-2 bd-highlight" aria-label="Default select example" style="width: 19%; margin-right: 0.6em;">
            <option selected>템플릿</option>
            <option value="1">템플릿1</option>
            <option value="2">템플릿2</option>
            <option value="3">템플릿3</option>
          </select>
          <select class="form-select p-2 bd-highlight" aria-label="Default select example" style="width: 19%;">
            <option selected>공개범위</option>
            <option value="1">전체공개</option>
            <option value="3">그룹공개</option>
            <option value="3">관리자작성</option>
          </select>
        </div>
        <div class="mb-3">
          <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
          <textarea maxlength="500" placeholder="최대 500자" class="form-control" id="exampleFormControlTextarea1" rows="3" style="width: 100%; height: 60vh; resize: none;"></textarea>
        </div>
        <div class="d-flex bd-highlight mb-4">
          <div class="p-2 bd-highlight">
	          <button type="submit" class="btn p-3" 
	          style="width: 120%;font-size: 18px; font-weight: bold; border: 2px solid #f8b739;">취소
	          </button>
          </div>
          <div class="p-2 flex-grow-1 bd-highlight">
	          <button type="submit" class="btn p-3" 
	          style="width: 100%; font-size: 18px; font-weight: bold; background-color: #f8b739; border: 2px solid #f8b739;">게시하기
	          </button>
          </div>
        </div>
      </form>
    </div>
   <!-- 글쓰기폼 -->
		
</th:block>
				

</html>