<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{fragments/layout}">
				
<th:block layout:fragment="content">

  <!-- 작성자 프로필정보 -->
  <div class="d-flex bd-highlight m-3">
    <div> <img src="https://placehold.co/80x80" alt="" class="rounded-circle p-2 bd-highlight" style="margin-right: 5px;"></div>
    <div class="container p-2 bd-highlight  align-self-center" style="width: 100%; color: #000000; font-weight: bold; font-size: 20px;">NAME</div>
  </div>
  <!-- 작성자 프로필정보 -->
   <!-- 목표 -->
   <div class="container-fluid">
   	<table class="table">
   	<caption>완료 목표 테이블</caption>
   		<tbody>
   			<tr>
	   			<td scope="row">목표명이길어지면이런식으로</td>
				<td scope="row" style="text-align: right; padding-right: 1.5em;">
					<input type="checkbox" value="" id="" style="accent-color: #f8b739;" disabled>
				</td>
   			</tr>
   		</tbody>
   	</table>
   </div>
   <!-- 목표 -->
   
   <!-- 글쓰기폼 -->
    <div class="container-fluid">
      <form th:action="@{/diary/insert}" method="post">
        <div class="d-flex bd-highlight mb-4">
          <div class="form-group">
			<input type="hidden" name="nickname" id="nickname" class="form-control" th:value="${nickname}" readonly>
			<input type="hidden" name="username" id="username" class="form-control" th:value="${username}" readonly>
			<input type="hidden" name="email" id="email" class="form-control" th:value="${email}" readonly>
		  </div>
          <div class="flex-grow-1 bd-highlight" style="margin-right: 0.6em;">
            <input class="form-control form-control-lg" type="text" name="diary_title" id="diary_title" placeholder="제목을 입력하세요" aria-label="default input example">
          </div>
          <select class="form-select p-2 bd-highlight" aria-label="Template" name="template_id" style="width: 19%; margin-right: 0.6em;">
            <option selected>템플릿</option>
            <option value="1">템플릿1</option>
            <option value="2">템플릿2</option>
            <option value="3">템플릿3</option>
          </select>
          <select class="form-select p-2 bd-highlight" aria-label="openScope"  name="open_scope_id" style="width: 19%;">
            <option selected>공개범위</option>
            <option value="1">나만보기</option>
            <option value="2">친구공개</option>
            <option value="3">그룹공개</option>
            <option value="4">전체공개</option>
            <option value="5" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">관리자작성</option>
          </select>
        </div>
        <div class="mb-3">
          <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
          <textarea maxlength="500" placeholder="최대 500자" class="form-control" name="diary_content" id="diary_content" rows="3" style="width: 100%; height: 60vh; resize: none;"></textarea>
        </div>
        <!-- 이모티콘 -->
        <div class="container-fluid d-flex bd-highlight mb-3" >
        	<div class="bd-highlight"><button class="btn p-2 mr-3" 
        		style="background-color: #eee;">이모티콘으로 일기 요약받기</button></div>
        	<div class="flex-grow-1 bd-highlight">
        	<input type="text" id="diary_emoji" name="diary_emoji"
        		style="border: 1px solid #eee; padding: 0.5em; width: 100%;"></div>
        </div>
        <!-- 이모티콘 -->
        <div class="d-flex bd-highlight mb-4">
          <div class="p-2 bd-highlight">
	          <button type="submit" class="btn p-3" 
	          style="width: 100%;font-size: 18px; font-weight: bold; border: 2px solid #f8b739;">취소
	          </button>
          </div>
          <div class="p-2 flex-grow-1 bd-highlight">
	          <button type="submit" class="btn p-3"
	          style="width: 100%; font-size: 18px; font-weight: bold; background-color: #f8b739; border: 2px solid #f8b739;">게시하기
	          </button>
          </div>
        </div>
      </form>
    </div>
   <!-- 글쓰기폼 -->
		
</th:block>
				

</html>