<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sideBarMypage">

	<nav id="sidebar">
		<div class="p-4 pt-5">
			<!-- 프로필 -->
			<a href="#" class="img logo rounded-circle mb-3"
				style="background-image: url(#); background-color: white;"></a>
			<div class="d-flex justify-content-center mb-3">
				<div style="padding: 0 10px;">
					<a href="#">{n}팔로잉</a>
				</div>
				<div style="padding: 0 10px;">
					<a href="#">{n}팔로워</a>
				</div>
			</div>
			<div class="container">
				<a href="#" class="btn p-2 mb-2"
					style="width: 100%; font-weight: bold; color: #fff; font-size: 0.8em;">프로필
					수정</a>
			</div>
			<!-- 프로필 -->
			<ul class="list-unstyled components mb-5">
				<li><a href="#">HOME</a></li>
				<li><a href="#pageSubmenu" data-toggle="collapse"
					aria-expanded="false" class="dropdown-toggle">GROUP</a>
					<ul class="collapse list-unstyled" id="pageSubmenu">
						<li class="d-flex bd-highlight">
							<div class="flex-grow-1 bd-highlight"><a href="#">GroupName</a></div>
							<div class="bd-highlight"><a href="#"><i class="bi bi-pencil-fill p-2"></i></a></div>
							<div class="bd-highlight"><a href="#"><i class="bi bi-trash p-2"></i></a></div>
						</li>
						<li><a href="#">GroupName</a></li>
						<li><a href="#">GroupName</a></li>
					</ul></li>
			</ul>

			<div class="container-fluide">
				<a href="#" class="btn mb-3" 
				style="width: 100%; font-weight: bold; color: #f8b739; border: 3px solid #f8b739; ">로그아웃</a>
			</div>
			<div class="container-fluide">
				<a href="#" class="btn mb-3" 
				style="width: 100%; font-weight: bold; color: #d10e00; border: 3px solid #d10e00;">탈퇴하기</a>
			</div>
			<div class="footer">
				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script>
					All rights reserved | This template is made with <i
						class="icon-heart" aria-hidden="true"></i> by <a
						href="https://colorlib.com" target="_blank">Colorlib.com</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>

		</div>
	</nav>

</th:block>
</html>