<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="sideBarMypage">

	<nav id="sidebar">
		<div class="p-4 pt-5">
			<!-- 프로필 -->
			<a href="#" class="img logo rounded-circle mb-3"
				style="background-image: url(#); background-color: white;"></a>
			<div class="d-flex justify-content-center mb-3">
				<div style="padding: 0 10px;">
					<a href="#" class="nav-link">{n}팔로잉</a>
				</div>
				<div style="padding: 0 10px;">
					<a href="#" class="nav-link">{n}팔로워</a>
				</div>
			</div>
			<div class="container">
				<a href="#profileModal" class="btn p-2 mb-2"
					style="width: 100%; font-weight: bold; color: #fff; font-size: 0.8em;"
					data-bs-toggle="modal">프로필 수정</a>
			</div>
			<!-- 프로필 -->
			<ul class="list-unstyled components mb-5" style="height: 45%;">
				<li><a href="#" class="nav-link">HOME</a></li>
				<li><a href="#pageSubmenu" data-toggle="collapse"
					aria-expanded="false" class="dropdown-toggle nav-link">GROUP</a>
					<ul class="collapse list-unstyled" id="pageSubmenu">
						<li class="d-flex bd-highlight">
							<div class="flex-grow-1 bd-highlight"><a href="#" class="nav-link">GroupName</a></div>
							<div class="bd-highlight"><a href="#updateModal"  data-bs-toggle="modal"><i class="bi bi-pencil-fill p-2"></i></a></div>
							<div class="bd-highlight"><a href="#deleteModal" data-bs-toggle="modal"><i class="bi bi-trash p-2"></i></a></div>
						</li>
						<li><a href="#" class="nav-link">GroupName</a></li>
						<li><a href="#" class="nav-link">GroupName</a></li>
					</ul></li>
			</ul>

<!-- 삭제모달 -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p style="text-align: center; padding-top: 2em; color: #000;">그룹을 삭제하시겠습니까?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <div><button type="button" class="btn btn-secondary p-2" data-bs-dismiss="modal">취소</button></div>
        <div><button type="button" class="btn btn-primary p-2">삭제하기</button></div>
      </div>
    </div>
  </div>
</div>
<!-- 삭제모달 -->
<!-- 수정모달 -->
<div class="modal fade" id="updateModal" tabindex="-1"	aria-labelledby="updateModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="color: #000;">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="updateModalLabel">그룹 수정하기</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="mb-3">
						<label for="recipient-name" class="col-form-label">그룹명</label>
						<input type="text" class="form-control" id="recipient-name" value="기존 그룹명 노출">
					</div>
					<div class="mb-3">
						<label for="message-text" class="col-form-label">그룹소개</label>
						<textarea class="form-control" id="message-text" style="resize: none; height: 15vh;">기존 그룹소개 노출</textarea>
					</div>
				</form>
			</div>
	    	<div class="modal-footer justify-content-center">
	        	<div><button type="button" class="btn btn-secondary p-2" data-bs-dismiss="modal">취소</button></div>
	        	<div><button type="button" class="btn btn-primary p-2">변경하기</button></div>
	     	</div>
		</div>
	</div>
</div>
<!-- 수정모달 -->
<!-- 수정모달 -->
<div class="modal fade" id="profileModal" tabindex="-1"	aria-labelledby="profileModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="color: #000;">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="profileModalLabel">프로필 수정하기</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post" th:action="@{/fragments/sidebar/nickname}">
					<div class="mb-3">
						<label for="recipient-name" class="col-form-label">닉네임 변경</label>
						<input type="text" class="form-control" id="recipient-name" th:value="${nickname}">
					</div>
					<div class="modal-footer justify-content-center">
	        			<div><button type="button" class="btn btn-secondary p-2" data-bs-dismiss="modal">취소</button></div>
	        			<div><button type="button" class="btn btn-primary p-2">변경하기</button></div>
	     			</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- 수정모달 -->
			<div class="container-fluide">
				<a th:href="@{/user/logout}" class="btn mb-3" 
				style="width: 100%; font-weight: bold; color: #f8b739; border: 3px solid #f8b739; " sec:authorize="isAuthenticated()">로그아웃</a>
			</div>
			<div class="container-fluide">
				<a class="btn mb-3" 
				style="width: 100%; font-weight: bold; color: #d10e00; border: 3px solid #d10e00;"
				  data-bs-toggle="modal" data-bs-target="#leaveModal" data-bs-whatever="@fat">탈퇴하기</a>
			</div>
			
<!-- 수정모달 -->
<div class="modal fade" id="leaveModal" tabindex="-1"	aria-labelledby="leaveModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="color: #000;">
		<div class="modal-content">
			<div class="modal-body">
				<h1 style="text-align: center; padding-top: 1.5em; font-size: 1.8em;">탈퇴하시겠습니까?</h1>
				<form th:action="@{/fragments/sidebar/delete}" method="post">
					<div class="mb-3">
						<label for="recipient-name" class="col-form-label">비밀번호</label>
						<input type="password" class="form-control" id="recipient-name">
					</div>
			    	<div class="modal-footer justify-content-center">
			        	<div><button type="button" class="btn btn-secondary p-2" data-bs-dismiss="modal">취소</button></div>
			        	<div><button type="button" class="btn btn-primary p-2">탈퇴하기</button></div>
			     	</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- 수정모달 -->			
			
			
	
			<div class="footer">
				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script>
					All rights reserved | This template is made with <i
						class="icon-heart" aria-hidden="true"></i> by <a
						href="https://colorlib.com" target="_blank" class="nav-link">Colorlib.com</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>

		</div>
		
	</nav>

</th:block>
</html>