<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<th:block layout:fragment="content">
	<div class="container-fluid p-3">
		<h1 class="p-2 flex-grow-1 bd-highlight" style="font-size: 1.8em;">달성 완료!</h1>
		<table class="table table-hover">
			<caption>나의 완료 목표</caption>
			<thead  class="table-success">
				<tr>
					<th scope="col">목표명</th>
					<th scope="col">기간</th>
					<th scope="col">달성률</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row">물 많이먹기</td>
					<td scope="row" style="color: #9b9b9b;">2025.04.21~2025.05.21</td>
					<td scope="row">nn%</td>
				</tr>
			</tbody>
		</table>
	</div>


</th:block>
</html>