<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{fragments/layout}"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- layout:decorate="~{fragments/layout}"  fragments폴더안에 layout 렌더링 -->
<head>
<meta charset="UTF-8">
<title>USER</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container my-3">
			<h3 th:text="MYPAGE"></h3>  <!-- authorize 인가: 권한 -->
			<div class="alert alert-info" sec:authorize="hasRole('ADMIN')" > ADMIN ROLE </div>
			<div class="alert alert-info" sec:authorize="hasRole('USER')" > USER ROLE </div>
			<hr/>
			<div class="alert alert-info" th:text="${nickname}" ></div> 
			<div class="my-3">
				<a th:href="@{/user/find}" class="btn btn-primary" >비밀번호 찾기</a>
				<a th:href="@{/user/userchange}" class="btn btn-primary" >닉네임 변경</a>
				<a th:href="@{/user/userdelete}" class="btn btn-primary" >탈퇴</a>
			</div>
		</div>
	</div>
</body>
</html>