<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{fragments/layout}"
><!-- layout:decorate="~{fragments/layout}"  fragments폴더안에 layout 렌더링 -->
<head>
<meta charset="UTF-8">
<title>Userdelete</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container my-3">
			<h3>회원 탈퇴</h3>
			<p class="alert alert-info">비밀번호를 입력해주세요. 탈퇴 후 복구는 불가능합니다.</p>
			<form th:action="@{/user/userdelete}" method="post">
				<label for="password">비밀번호:</label> 
				<input type="password" name="password" id="password" />
				<div class="my-3">
					<button type="submit" class="btn btn-primary">탈퇴하기</button>
				</div>
			</form>
			<a th:href="@{/user/mypage}" class="btn btn-primary">취소</a>
		</div>
	</div>
</body>
</html>