<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{fragments/layoutGroup}">
				
<th:block layout:fragment="content">
		<div class="container-fluid p-3"
			style="border-bottom: 1px solid #9d9d9d;">
			<div class="d-flex bd-highlight mb-3">
				<div>
					<img src="https://placehold.co/80x80" alt=""
						class="rounded-circle p-2 bd-highlight" style="margin-right: 5px;">
				</div>
				<div class="container p-2 bd-highlight  align-self-center"
					style="width: 100%;">
					<ul class="list-unstyled">
						<li style="color: #000000; font-weight: bold; font-size: 20px;">#GroupNAME</li>
						<li style="font-size: 16px; color: #9d9d9d;">그룹소개(content)</li>
					</ul>
				</div>
				<div class="ms-auto p-2 bd-highlight align-self-center"
					style="width: 100%; text-align: end;"><a href="#" 
					style="color: #fff; background-color: #f8b739; border-radius: 15%; padding: 10px; font-size: 18px; font-weight: bold;">가입하기</a></div>
			</div>
		</div>
		<!-- End Group -->
</th:block>
				

</html>